p {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.justify {
    justify-content: space-around;
}

.div1 {
    background:#1F2937;
}

.heromain {
    font: 48px extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.div2pics {
    margin: 10px;
    padding: 42%;
    border: 3px solid #3882F6;
    border-radius: 20%;
}

.p2pics {
    margin: 10px;
}

.herosec {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hlink {
    flex: 1 1 0;
}

.hlogo {
    font-size: 24px;
    color: #F9FAF8;
    margin: 0;
    flex: 3 1 0;
}

.info {
    font: 36px extra-bold;
    color: #1F2937;
}

.div3 {
    background: #E5E7EB;
}

.quote {
    font: 36px "light italic";
    color: #1F2937;
}

.call {
    background: #3882F6;
    color: #F9FAF8;
    padding: 20px 40px 20px 40px;
    border-radius: 5%;
    flex: 3 1 0;
}

.button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 5px 10px 5px 10px;
    flex: 1 1 0;
}

.padding-sides {
    padding-left: 90px;
    padding-right: 90px;
}

.footer {
    color: #F9FAF8;
}