p {
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
}

.div1 {
    background:#1F2937;
}

.heromain {
    font: 48px extra-bold;
    color: #F9FAF8;
}

.herosec {
    font: 18px;
    color: #E5E7EB;
}

.hlogo {
    font: 24px;
    color: #F9FAF8;
}

.info {
    font: 36px extra-bold;
    color: #1F2937;
}

.div3 {
    background: #E5E7EB;
}

.quote {
    font: 36px "light italic";
    color: #1F2937;
}

.button {
    background: #3882F6;
}

.padding-sides {
    padding-left: 90px;
    padding-right: 90px;
}